/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://i.pinimg.com/736x/27/a9/73/27a9735aa9f03f6850cee7861e9693e4.jpg');
    background-size: cover;
}

.calculator {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.screen {
    margin-bottom: 20px;
}

#display {
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 24px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}